<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-us.css' %}">

    <title>About Us</title>
</head>
<body>
    <!-- Header -->
    {% include "header.html" %}

     <!-- Main -->
    <main class="main">
        <img class="topImage" src="{% static 'images' %}/aboutUs/about-us-gamer-geeks.jpg" alt="alt-text">
        
        <h1>Game Geeks Team</h1>
        <p>
            On this site you can see all the people that write and work on this great site
        </p>

        {% for aboutUs in allAboutUs %}
            <div class="mainContainer">
                <h1 class="name">{{ aboutUs.Name }}</h1>
                
                <div class="mainItem">
                    <div class="imageLeft">
                        <img class="mainImage" src="{% static 'images' %}/aboutUs/{{ aboutUs.ImagePath }}" width="150" alt="{{ aboutUs.AltImageText }}">
                    </div>

                    <div class="text">
                        <p class="description" style="white-space: pre-line">{{ aboutUs.Text }}</p><br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
</body>
</html>