<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/about-us.css' %}">

    <title>About Us</title>
</head>
<body>
    <!-- Header -->
    {% include "header.html" %}

     <!-- Main -->
    <main class="main">
        {% comment %} TODO: Add the right image to the folder!!! {% endcomment %}
        {% comment %} <img src="{% static 'images' %}/aboutUs/ " width="720" alt="About us picture"> {% endcomment %}
        
        <p>
            On this site you can see all the people that write and work on this great site
        </p>

        {% for aboutUs in allAboutUs %}
            <div class="mainContainer">
                <h1 class="name">{{ aboutUs.Name }}</h1>
                <small>
                    {{ aboutUs.CDate }} 
                </small><br><br>
                
                <div class="mainItem">
                    <div class="imageLeft">
                        <img src="{% static 'images' %}/aboutUs/{{ aboutUs.ImagePath }}" width="150" alt="alt-text">
                    </div>

                    <div class="text">
                        <p class="description" style="white-space: pre-line">{{ aboutUs.Text }}</p><br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
</body>
</html>