<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

    <title>Contact</title>
</head>

<body>
    <!-- Header -->
    {% include "header.html" %}
    
    <main class="contact_form">
        <form class="form">
            <h1 class="pageTitle title">Contact Us</h1>
            <p class="secondaryTitle title">We'd love to hear from you!</p>
            
            <input type="text" class="text formEntry" placeholder="Name"><br>
            <input type="email" class="text formEntry" placeholder="Email"><br>
            <textarea class="message formEntry" placeholder="Message" style="height:100px"></textarea><br>

            <button class="submit formEntry" onclick="thanks()">Submit</button>
        </form>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
</body>

</html>