<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Home</title>
</head>
<body>
    <!-- Header -->
    {% include "header.html" %}

    <main class="main">
        <h1>Data protection</h1>

        <p class="text" style="white-space: pre-line">
            This data protection declaration has been translated from the german , where
            inconsistencies occur, the german version will take precedence.
            
            Data Protection Declaration
            The use of our website is generally possible without providing personal data. 
            As far as personal data (for example name, address or email addresses) is collected, this
            occurs, as far as possible, on a voluntary basis. This data will not be passed on to third parties without your express consent.
            We would like to point out that data transmission over the Internet (e.g. communication by e-mail) can have security gaps. A complete protection of data against access by third parties is not possible.
            The use of the contact data published within the scope of the imprint obligation by third parties for sending unsolicited advertising and information material is hereby
            expressly prohibited. We expressly reserve the right to take legal action in the event of unsolicited advertising information being sent, for example through spam mails.
            
            SCOPE
            This data protection declaration informs users about the type, scope and purposes of the collection and use of personal data by the responsible provider Facing Finance e.V., Schönhauser Allee 141 – HINTERHAUS 2, 10437 Berlin (Tel: +49-30-3266 1681, Mail: kontakt@facing-finance.org) on this website.
            The legal basis of data protection can be found in the General Data Protection Act. In this policy the terms “we , us and our” refer to the organisation Facing Finance e.V.
            
            ACCESS DATA/SERVER LOGFILES
            We (or our web space provider Domain Factory -> Privacy Policy of Domain Factory) collect data about every access to the offer (so-called server log files).     
            Access data includes:
            Name of the accessed website, file, date, time and duration of the access, transferred data volume, notification of successful access, browser type and version, the user’s operating system, referrer URL (the previously visited page), IP address and the requesting provider.
            Facing Finance e.V. uses the log data only for statistical evaluations for the purpose of operation, security and optimisation of the offer. Facing Finance e.V. reserves the right, however, to check the log data subsequently if there is a justified suspicion of illegal use based on concrete evidence.
            
            HANDLING OF PERSONAL DATA
            Personal data is information that can be used to identify a person, i.e. information that can be traced back to a person. This includes your name, email address or telephone number. 
            But also data about preferences, hobbies, memberships or which websites were viewed by someone count as personal data.
            Personal data is only collected, used and passed on by the provider if this is legally permitted or if the users agree to the data collection.
            
            ESTABLISHING CONTACT
            When contacting Facing Finance e.V. (e.g. via contact form, e-mail, telephone or fax), the user’s details are stored for the purpose of processing the enquiry and in the event that follow-up questions arise.
            
            COMMENTS AND CONTRIBUTIONS
            When users leave comments on the blog or other posts, their IP addresses are stored. This is done for the security of Facing Finance e.V., if someone writes illegal contents in comments and contributions (insults, forbidden political propaganda, etc.). In this case Facing Finance e.V. itself could be prosecuted for the comment or contribution and is therefore interested in the identity of the author.
            
            COOKIES
            Cookies are small files that enable the user’s access device (PC, smartphone, etc.) to store specific information relating to the device. They serve on the one hand the user-friendliness of web pages and thus the users (e.g. storage of login data). On the other hand, they are used to collect statistical data on the use of the website and to analyse it for the purpose of improving the offer. 
            Users can influence the use of cookies. Most browsers have an option with which the storage of cookies is restricted or completely prevented. However, this can limit the use and especially the comfort of use without cookies. You can manage many corporate online ad cookies through the US site http://www.aboutads.info/choices/ or the EU site http://www.youronlinechoices.com/uk/your-adchoices/
            
            REGISTRATION FUNCTION
            If you enter data during registration, it will be used for the purpose of using the offer. 
            Users can be informed by e-mail about information relevant to offers or registration, such as changes to the scope of offers or technical circumstances. 
            The data collected can be seen in the input mask during registration. 
            This includes first and last name, postal address, email address and their purpose.
            
            YOUTUBE
            Our website uses plugins from Google’s YouTube site. This website is operated by YouTube, LLC, 901 Cherry Ave, San Bruno, CA 94066, USA.
            If you visit one of our pages equipped with a YouTube plugin, a connection to the YouTube servers is established. 
            The Youtube server will be informed which of our pages you have visited.
            If you are logged into your YouTube account, you allow YouTube to associate your surfing behaviour directly with your personal profile. You can prevent this by logging out of your YouTube account.
            For more information on how user data is handled, please see YouTube’s privacy policy at https://www.google.de/intl/de/policies/privacy.
          
            PAYPAL / PAYPALME
            This offer may include “PayPal” and “PayPalMe” buttons of the PayPal payment service operated by PayPal (Europe) S.à r.l. et Cie, S.C.A. based at 22-24 Boulevard Royal, L-2449 Luxembourg.
            When a user clicks such a button on a website of this offer, his browser establishes a direct connection to PayPal servers. 
            If you have created an account at PayPal with which you are logged in at the same time, PayPal will receive the information that you have visited the respective page of this offer. 
            If you have a PayPal account, are logged in and interact with the button, information will be transmitted to PayPal and stored there for billing purposes in accordance with PayPal’s policies. 
            Even if you are not logged in, usage data may be collected and stored.
            To find out exactly how your data is processed when you click the PayPal or PayPalMe button, visit https://www.paypal.com/de/webapps/mpp/ua/privacy-full.
        </p>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
</body>
</html>


