{% load static %}

<footer class="footer">

    <div class="row">
        <div class="footerColumn">
            <h3>GameGeeks</h3>
            <ul>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'about-us' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>

        <div class="footerColumn">
            <h3>Follow us</h3>
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">X</a></li>
                <li><a href="">Youtube</a></li>
            </ul>
        </div>

        <div class="footerColumn">
            <h3>Legal</h3>
            <ul>
                <li><a href="{% url 'data-protection' %}">Data Protection</a></li>
                <li><a href="{% url 'legal-notice' %}">Legal Notice</a></li>
            </ul>
        </div>
    </div>
    <p class="copyright">© Copyright 2024 GameGeeks. All rights reserved.</p>

</footer>

<script src="{% static 'js' %}/main.js"></script>