<footer class="footer">

    <ul class="footer_ul">
        <li class="footer_li_header">GameGeeks</li>
        <li ><a href="{% url 'news' %}">News</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact</a></li>
    </ul>

    <ul class="footer_ul">
        <li class="footer_li_header">Social</li>
        <li><a href="">Facebook</a></li>
        <li>X</li>
        <li>Youtube</li>
    </ul>

    <p class="copyright">copyright 2024 GameGeeks. All rights reserved. </p>

</footer>