{% load static %}

<header class="header">
    <nav class="navigation">
        {% comment %} <img class="logo" src="{% static 'images' %}/logo/logo.webp" alt="Game Geeks logo"> {% endcomment %}
        <a class="logoText" href="{% url 'news' %}">GameGeeks</a>

        <input type="checkbox" id="check">

        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
 
        <ul class="navigationList">
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
            <li><a href="{% url 'about-us' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</header>