{% load static %}

<header class="header">
    <nav class="navigation">
        <img class="logo" src="{% static 'images' %}/logo/logo2.png" alt="Game Geeks logo">
        
        <input type="checkbox" id="check">

        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
 
        <ul class="navigationList">
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
            <li><a href="{% url 'about-us' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</header>