<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/news-detail.css' %}">

    <title>{{ news.Title }}</title>
</head>
<body>
    <!-- Header -->
    {% include "header.html" %}

    <!-- Main -->
    <main class="main">   
        <article class="mainContainer">
            <h3>{{ news.Title }}</h3>
            <small>
                {{ news.CDate }} {{ news.AuthorName }} 
            </small><br>

            <img src="{% static 'images' %}/news/{{ news.ImagePath }}" width="720" alt="alt-text">

            <p class="text" style="white-space: pre-line">{{ news.Text }}</p><br>
        </article>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
</body>
</html>