<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">

    <title>News</title>
</head>
<body>
    <!-- Header -->
    {% include "header.html" %}

    <!-- Main -->
    <main class="main">  
        <h1>Game Geeks News</h1> 
        <p>
            On this page you can read about the latest news in the gaming industry, trands and releaes
        </p>
        <div class="mainContainer">
            {% for news in allNews %}   
                <article class="mainItem">   
                    <a href="{% url 'news-detail' news.URLName %}">               
                        <img src="{% static 'images' %}/news/{{ news.ImagePath }}" width="210" height="120" alt="alt-text">
                        <h3>{{ news.Title }}</h3>
                        <small>
                            {{ news.CDate }} {{ news.AuthorName }} 
                        </small><br>

                        <p class="text">{{ news.ShortText }}</p><br>
                    </a>
                </article>
            {% endfor %}
        </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
</body>
</html>