<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">

    <title>Shop</title>
</head>
<body>
    <!-- Header -->
    {% include "header.html" %}

    <!-- Main -->
    <main class="main">   
        <h1>Game Geeks Shop</h1>
        <p>
            We are a free game news site but as every project we need money.
            That's the reason why we have a little shop with mearch. 
        </p>

        <div class="mainContainer">
            {% for item in shopArticle %}
                <article class="mainItem">
                    <img src="{% static 'images' %}/shop/{{ item.ImagePath }}" width="210" height="240" alt="{{ item.AltImageText }}">
                    
                    <div class="maimTextSection">
                        <p class="name">{{ item.Name }}</a></p>
                        
                        <div class="flexbox">
                            <p class="price">$ {{ item.Price }}</p>
                            <button class="btnToCart" onclick="alert('The cart is coming soon :)')" >Add to cart</button>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </main>

    <!-- Footer -->
    {% include "footer.html" %}
</body>
</html>