@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

@font-face {
    font-family: myVerdana;
    src: url(../fonts/verdana.ttf);
}

/* General section */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: rgb(248, 246, 242);
    font-size: 15px;
    font-family: myVerdana;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
} 

.main {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color: black;
}

@media (max-width: 720px) {
    .main { 
        padding-left: 30px;
        padding-right: 30px;
    }
}
/* General section END */


/* Header and navigation section */
.logo {
    float: left;
    width: 160px;
}

.navigation {
    background-color: #24262b;
    height: 52px;
    max-width: 1170px;
    margin: auto;
}
  
.navigationList {
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
    line-height: 52px;
}

.navigationList li a {
    display: block;
    color: white;
    padding: 0 10px;
}

.navigationList li a.active,
.navigationList li a:hover {
    background-color: #293d63;
    transition: .5s;
}

.checkbtn {
    font-size: 22px;
    color: white;
    float: right;
    line-height: 52px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 767px) {
    .checkbtn {
        display: block;
    }

    label.logo {
        font-size: 22px;
    }

    .navigationList {
        position: absolute;
        width: 100%;
        height: auto;
        background: #24262b;
        top: 52px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navigationList li {
        display: block;
        line-height: 20px;
    }

    .navigationList li a {
        display: block;
        padding: 25px 0;
    }

    .navigationList li a:hover,
    .navigationList li a.active {
        background-color: #293d63;
    }

    #check:checked~.navigationList {
        left: 0;
    }
}
/* Header and navigation section END */


/* Footer section */
.footer {
    background-color: #24262b; /*#222;*/
    max-width: 1170px;
	margin: auto;
    padding: 50px 0;
    color: #bbbbbb;
    margin-top: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.footerColumn {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    padding: 0 15px;
    width: 25%;
}

.footerColumn h3 {
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footerColumn h3::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #293d63; 
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footerColumn ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footerColumn ul li a {
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footerColumn ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.copyright {
    font-size: 12px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

@media(max-width: 767px) {
    
    .footerColumn {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    
    .footerColumn {
        width: 100%;
    }
}
/* Footer section END */